<div id="preface">
Advanced Analytics and Data Visualization
</div>

<div id="content" class="tabbed columns">
    <div class="top-rounder"></div>
    <div class="columns">
        <div class="column side">
            <%= render :partial => "partials/analytics_links"%>
        </div><!-- .column.side -->
        <div class="column wide">

            <h4>Dealkat Dashboard offers you the comprehensive tools to manage all your Social Media Campaigns</h4>
            <ul style="margin: 0px 0px 10px 20px">
                <li style="list-style:decimal; margin: 0px 0px 10px 0px">Data Visualization feature allows you to view social media trends in a quantifiable manner and analyze them from different perspectives</li>
                <li style="list-style:decimal; margin: 0px 0px 10px 0px">With Analytics, you can track your campaign metrics and optimize your campaigns in real time. Dealkat Analytics provides:</li>
                <ul style="margin: 0px 0px 0px 40px">
                    <li style="list-style:square">Right metrics to understand your customers and their engagement</li>
                    <li style="list-style:square">Ability to make adjustments real-time in order to achieve campaign objectives</li>
                    <li style="list-style:square">Quantitative evaluation of different customer segments and their ROIs</li>
                </ul>
            </ul>
            <p align="center"><img src="/images/samples/AnalyticsCapture1.jpg" width="426" alt=""></p>
            <p align="center"><img src="/images/samples/AnalyticsCapture2.jpg" width="426" alt=""></p>
        </div><!-- .column.wide -->
        <br class="clearer">
    </div><!-- .columns -->
    <div class="bottom-rounder"></div>
</div><!-- #content -->
