<div id="preface">
Get incremental sales + actionable social data</div>

<div id="content" class="tabbed columns">
    <div class="top-rounder"></div>
    <div class="columns">
        <div class="column side">
            <%= render :partial => "partials/benefits_links"%>
        </div><!-- .column.side -->
        <div class="column wide">
            <h4>Manage your pricing and margins over social channels</h4>
            <ul style="margin: 0px 0px 10px 20px">
                <li style="list-style:decimal; margin: 0px 0px 10px 0px">Higher Occupancy Rates</li>
                <li style="list-style:decimal; margin: 0px 0px 10px 0px">Incremental Revenues</li>
                <li style="list-style:decimal; margin: 0px 0px 10px 0px">Social purchase intent targeting</li>
            </ul>
            <h4>Manage fluctuating demand</h4>
            <p>Sometimes inventory is sold-out; other times an oversupply results in unsold rooms</p>
            <h4>Reduce 3rd Party Dependence</h4>
            <ul style="margin: 0px 0px 10px 20px">
                <li style="list-style:decimal; margin: 0px 0px 10px 0px">3rd Party Sites, e.g. Expedia, drive ~30% of travel industry revenues</li>
                <li style="list-style:decimal; margin: 0px 0px 10px 0px">You can't market under your brand on Expedia</li>
            </ul>
            <h4>Optimize Pricing Constraints</h4>
            <ul style="margin: 0px 0px 10px 20px">
                <li style="list-style:decimal; margin: 0px 0px 10px 0px">You pay 3rd Parties sales commissions per booked room</li>
                <li style="list-style:decimal; margin: 0px 0px 10px 0px">Consumers pay 3rd Parties booking fees and don't save the most money</li>
            </ul>
            <h4>Automate Promotions</h4>
            <ul style="margin: 0px 0px 10px 20px">
                <li style="list-style:decimal; margin: 0px 0px 10px 0px">Costs of launching + managing promotions</li>
                <li style="list-style:decimal; margin: 0px 0px 10px 0px">Can't dynamically change prices or offers</li>
                <li style="list-style:decimal; margin: 0px 0px 10px 0px">No real-time analytics</li>
                <li style="list-style:decimal; margin: 0px 0px 10px 0px">No automated campaign adjustments</li>
            </ul>
        </div><!-- .column.wide -->
        <br class="clearer">
    </div><!-- .columns -->
    <div class="bottom-rounder"></div>
</div><!-- #content -->
