<div id="preface">
    Reach your customers with real-time price options
</div>

<div id="content" class="tabbed columns">
    <div class="top-rounder"></div>
    <div class="columns">
        <div class="column side">
						<%= render :partial => "partials/product_links"%>
        </div><!-- .column.side -->
        <div class="column wide">

							<h2>The Client</h2> 
							<p>Middle market online and offline retailer.</p> 
							 
							<h2>The Campaign</h2> 
							<p>2-month campaign featuring retail promotions and discounts</p> 
							<p>Dual Campaign Objectives:</p> 
					 	  <ul style="margin: 0px 0px 0px 20px"> 
									<li style="list-style:decimal">Existing Customer Management</li> 
									<li style="list-style:decimal">New Customer Acquisitions</li> 
						   </ul> 
							 <br/> 
							 
							 <h2>Existing Customer Management</h2> 
							 <p><img src="/images/cm.jpeg" width="570px"></p>
							 
							 <h2>New Customer Acquisition</h2> 
							 <p><img src="/images/ca.jpeg" width="570px"></p>
							 
							 <h2>Excellent Results</h2> 
							 <p>
							 		Number of Tweets sent = 50,000+ <br />
									Retweets = 0.75% <br />
									Complaints and opt-outs = 0.22% <br />
									CTR on twitter links = 70% <br />
									Conversion rate = 0.95% 
							</p> 
       </div><!-- .column.wide -->
        <br class="clearer">
    </div><!-- .columns -->
