<div id="preface">
    Reach your customers with real-time price options
</div>

<div id="content" class="tabbed columns">
    <div class="top-rounder"></div>
    <div class="columns">
        <div class="column side">
            <%= render :partial => "partials/company_links"%>
        </div><!-- .column.side -->
        <div class="column wide">
            <p>We give you dynamic pricing software & real time data analytics /scoring, to engage your existing customers & sell more.</p>
            <p class="social-media-logotypes">
                <img src="/images/logo-twitter.jpg" width="252" height="59" alt="">
                &nbsp;&nbsp;
                <img src="/images/logo-facebook.jpg" width="250" height="70" alt="">
            </p>
            <p>Our new data-driven products require zero or near-zero (1-8 hours) of IT resources to go live. Our algorithms automatically adjust on a real-time to near-real-time (1 minute to 1 day) basis, to maximize your sales and margins. Imagine no more delays between campaign results and adjustments.</p>
            <p>We are passionate about your needs. We make cool, new products that will delight your customers. We have proven expertise in developing and scaling web-based software, data analytics/scoring, and front-end user interface design.</p>
            <p>We make it easy for you to pilot with us. We guarantee success for your pilot and will keep working with you to ensure that success. <%= link_to("Why not give us a try?", sign_up_path, :style => "color: #0154A0;text-decoration: none;") %></p>
            <br><br>

        </div><!-- .column.wide -->
        <br class="clearer">
    </div><!-- .columns -->
    <div class="bottom-rounder"></div>
</div><!-- #content -->
