<div id="preface">Reach your customers with real-time price options</div>

<div id="content" class="tabbed columns">
    <div class="top-rounder"></div>
    <div class="columns">
        <div class="column side">
            <%= render :partial => "partials/product_links"%>
        </div><!-- .column.side -->
        <div class="column wide">
            <p><b>Our software processes and analyzes Twitter data to target your followers who have declared their purchase intents through their tweets.</b></p>
            <p align="center"><img src="/images/technology.png" alt="" style="width:570px;"></p>

            <ul style="list-style:disc; margin: 0px 60px 0px 60px;">
                <li>Use Twitter APIs to target your followers based on location and places variables</li>
                <li>Target on Twitter based on follower's interest and information friendship patterns and graphs</li>
                <li>Run statistical analytics to adjust campaigns on a near real-time basis based on market results and maximize sales conversions</li>
            </ul>
       </div><!-- .column.wide -->
        <br class="clearer">
    </div><!-- .columns -->
</div>
