<div id="preface">
Come on down, be part of our growing customer list!
</div>

<div id="content" class="tabbed columns">
    <div class="top-rounder"></div>
    <div class="columns">
        <div class="column side">
            <%= render :partial => "partials/company_links"%>
        </div><!-- .column.side -->
        <div class="column wide">
            <p>Our customers include:</p>
            <ol style ="margin-left: 25px">  
              <li>1. Top 10 Hotel Company</li>
              <li>2. 2 Fortune 500 Retailers</li>
              <li>3. Top 10 Digital Marketing Agency</li>           
            </ol>  
            <p>
              Our customers trust us to protect their privacy.  Therefore, we don't show logos on the website.  We are happy to discuss anonymized cases with you and provide references.  So why not call or email us? 415.323.3506 or Dealkat@Dealkat.com
            </p>
        </div><!-- .column.wide -->
        <br class="clearer">
    </div><!-- .columns -->
    <div class="bottom-rounder"></div>
</div><!-- #content -->
