<%=javascript_include_tag "prototype"%>
<%= load_lightbox %>

<div id="marketing-message">
    <div class="aligner">
        <em>Want incremental sales without mass discounting?</em>
        Sell your products using our real-time revenue engine!
    </div>
    <%#*<a class="button twitter" href="#">Twitter</a>%>
    <%#*<a class="button facebook" href="#">Facebook</a>%>
</div>

<div id="learn-more">
    <div class="visual">
    		<a class="play" onclick="new Ajax.Request('/tour');">Play</a>
    </div>
    <div class="aligner">

        <ul>
            <li>YOUR BRAND + <em>dynamic pricing</em>, <em>campaign management</em>, and <em>analytic tools</em> to sell over social channels.</li>
            <li>Customers receive deals wrapped with promotions + gaming techniques, helping you <em>gain incremental revenues</em> and good actionable data.</li>
        </ul>

    </div>
</div>

<div id="content" class="home">
    <div class="top-rounder"></div>
    <div class="aligner">

    <h1>Your Benefits</h1>

    <h2>Revenue Engine</h2>
    <p>Deploy branded tools where consumers say their price, buy time-limited sales or margin optimized last minute specials. Scale up promotions and turn them on & off in seconds, whenever you want. Algorithms automatically adjust to maximize your incremental sales.</p>

    <h2>Social Data Purchase Intent</h2>
    <p>Use real-time data from social channels to change your inventory prices. Use the purchase intent score to target users most likely to buy. Start using our software and it automatically learns, and acts on segments most likely to engage with your brand and purchase.</p>

    <h2>Near-Zero Implementation Costs</h2>
    <p>Our software, data and analytics products take minutes to set up. Deploy with near zero IT resources; keep it running without IT support. Go live in the marketplace with your branded products in about 2 weeks. Get analytics and sales information automatically.</p>

    </div><!-- .aligner -->
    <div class="bottom-rounder"></div>
</div><!-- #content -->
