<div id="preface"></div>

<div id="content" class="tabbed columns">
    <div class="top-rounder"></div>
    <div class="columns">
        <div class="column side">
            <%= render :partial => "partials/why_links"%>
        </div><!-- .column.side -->
        <div class="column wide">
            <h4>With 200 milllion other start-ups vying for your business, why choose Dealkat?</h4>

            <h4>Your best pet</h4>
            <p>
                Dealkat isn't your average startup, and this Kat isn't your run-of-the-mill house cat, either. Typically, pet owners take care of their cats: feeding, washing, veterinary visits, the dreaded litterbox cleaning, and so on. However, our Kat not only takes care of itself, it takes care of your margins.
            </p>

            <h4>Kat's the best? Prove It.</h4>
            <p>Dealkat has a proven record of delivering results, just ask our customers. Reference-able clients include:</p>
            <ul style="margin: 0px 0px 10px 20px">
                <li style="list-style:disc; margin: 0px 0px 10px 0px">one of the best and largest digital marketing companies in the world</li>
                <li style="list-style:disc; margin: 0px 0px 10px 0px">a foremost store-based and online retailer</li>
                <li style="list-style:disc; margin: 0px 0px 10px 0px">one of the top ten coolest hotel & resort companies</li>
            </ul>
            <p>Fortune 500 companies love Dealkat. Why not let our Kat share the love with your brand?</p>

            <h4>You're busy.</h4>
            <p>
              We understand that you have a lot of work to do on your end; that's why Dealkat is easy to install, requiring only one to eight hours of technology resources to get up and running. Don't have the that time? We'll do it for you. The software is easily delivered on a web browser, and once it's set up, requires virtually no maintenance. Isn't that the way it should be?
            </p>

            <h4>The best of both coasts.</h4>
            <p>
              We combine the coolest, most cutting-edge technology from Silicon Valley with the market focus and practical orientation of New York, where we have a small but growing presence; it's east meets west to produce the best results. Our technology will help you not only make your existing customers happier, but find you new ones to boot. When happy customers feel love, they take to Twitter and Facebook to show love back. We live in a world where everyone, everywhere (including your consumer base) is instantly connected via these social channels; we can't overstate how singularly important it is to, go beyond simple liking and tweeting to establish your brand as one that matters in these social channels.
            </p>

            <h4>Because you're #1.</h4>
            <p>
              Ultimately, your brand is what matters most; Dealkat is a tool to maximize your results. You own the customers and customer-level data. Our dynamic pricing engine is effective, easy to implement, and tailored to your company's particular needs. Think of your company as the vehicle; let our engine power you to success.
            </p>
        </div><!-- .column.wide -->
        <br class="clearer">
    </div><!-- .columns -->
    <div class="bottom-rounder"></div>
</div><!-- #content -->
