<div id="preface">Increase sales with dynamic pricing</div>

<div id="content" class="tabbed columns">
    <div class="top-rounder"></div>
    <div class="columns">
        <div class="column side">
              <%= render :partial => "partials/product_links"%>
        </div><!-- .column.side -->
        <div class="column wide">
            <h2>Say Your Price</h2>
            <p>Empower your customers, let them Say Their Price. They get great deals and it's good for you. You manage margins with targeted discounts, and save over mass price cuts.</p>
            <p align="center"><img src="/images/samples/screen-1.jpg" width="426" height="287" alt=""></p>

            <h2>Negotiations</h2>
            <p>Entertain your customers as they buy from you. They play the game of offers, counteroffers and the fun of bargaining + getting a good deal. You get incremental sales.</p>
            <p align="center"><img src="/images/samples/screen-2.jpg" width="426" height="287" alt=""></p>

            <h2>Time-limited discounts</h2>
            <p>Offer time-limited discounts to acquire new customers or liquidate products or perishable inventory. Hold sales for any length of time. Turn on & off & scale up automatically.</p>
            <p align="center"><img src="/images/samples/screen-3.jpg" width="426" height="287" alt=""></p>

            <h2>Your Dashboard</h2>
            <p>Manage your campaigns and inventory sold over social media channels. Get real-time analytics including purchase intent.</p>
            <p align="center"><img src="/images/samples/screen-4.jpg" width="426" height="287" alt=""></p>

            <h2>Packages</h2>
            <p>Our software crunches millions of combinations to create packages to maximize your margins while deliighting your customers; or the butler feature makes packages for consumers on the fly.</p>
            <p align="center"><img src="/images/samples/screen-5.png" width="426" height="287" alt=""></p>

            <h2>Price Slide</h2>
            <p>As your offers feel the social media love, consumers feel the sliding prices. Encourage Facebook & Twitter users to like and retweet your offers, and everybody benefits.</p>
            <p align="center"><img src="/images/samples/screen-6.png" width="426" height="287" alt=""></p>

            <h2>Purchase Intent</h2>
            <p>We score twitter with the Purchase Intent of different segments. Message your followers on Twitter and we automatically iterate to get you better campaign results + refine your score.</p>
            <p align="center"><img src="/images/samples/screen-7.png" width="426" height="287" alt=""></p>
        </div><!-- .column.wide -->
        <br class="clearer">
    </div><!-- .columns -->
</div>
