<div id="preface">
    Reach your customers with real-time price options
</div>

<div id="content" class="tabbed columns">
    <div class="top-rounder"></div>
    <div class="columns">
        <div class="column side">
            <%= render :partial => "partials/company_links"%>
        </div><!-- .column.side -->
        <div class="column wide" style="text-align: justify">

            <h3>Abir Bhattacharyya, Co-Founder & CEO</h3>
            <p>Passionate about helping businesses get results from dynamic pricing, and real-time data driven analytics and scoring across social channels. Extensive operational and advisory experience with startups, midsize, and Fortune 500 companies. Created and executed over 250 projects in analytics, target marketing, risk management, pricing, front-end/back-end software design and architecture. Abir holds a BS in Electrical Engineering / Computer science from NYU/Poly (Brooklyn), Masters in Operations Research & Industrial Engineering/Electro-Quantum physics from Cornell, & studied marketing @NYU business school.</p>

            <h3>Sabeer Bhatia, Chairman & Co-Founder</h3>
            <p><b>Co-Founded Hotmail</b> and is a passionate believer in creative entrepreneurship and the power of technology to change the world. Expertise across 50+ventures in strategy, product development, marketing and growth tactics. He was named by Time magazine as one of the "People to Watch" in International Business (2002). Sabeer holds a BS from Caltech and a MS from Stanford, both degrees in Electrical Engineering.</p>
            
            <p>Senior Advisors</p>
            <p>Our senior advisors are instrumental in guiding Dealkat and helping it grow.</p>
            <p>              
              Kaan Ersun
            </p>
            
        </div><!-- .column.wide -->
        <br class="clearer">
    </div><!-- .columns -->
    <div class="bottom-rounder"></div>
</div><!-- #content -->
