<div id="preface">Reach your customers with real-time price options</div>

<div id="content" class="tabbed columns">
    <div class="top-rounder"></div>
    <div class="columns">
        <div class="column side">
            <%= render :partial => "partials/product_links"%>
        </div><!-- .column.side -->
        <div class="column wide">
            <h4>You and The Cloud</h4>
            <p>We deploy your branded software on Amazon Web Services (AWS). You don't need to buy any software or hardware.  This infrastructure benefits you in several ways.</p>
           
            <h4>1: Proven Technology</h4>
            <p>
              You will be up and running on the same technology that powers Amazon. So your customers get a fast website that is always working.
            </p>
            
            <h4>2: Safe and Secure</h4>
            <p>
              Your data, algorithms, and customer information are safe and secure.  You get Encryption and Secure Sockets Layer (SSL) to protect sensitive data.  We are Payment Card Industry (PCI) compliant at all times.
            </p>
            <h4>3: Auto-Scaling Up? Minutes</h4>
            <p>
              When your customers come flooding in, we act in real-time, and scale up your application in minutes.  When you are ready to move from pilot to roll-out, we take care of your needs, in minutes.
            </p>
            <h4>Ruby On Rails</h4>
            <p>
              Our back-end software language is Ruby On Rails.  This means we iterate on your campaigns, promotions, and tests in a few hours to a few days.  On your behalf, we automatically adjust pricing and offers based on current consumer behavior.  This means we maximize your profits.
            </p>
       </div><!-- .column.wide -->
        <br class="clearer">
    </div><!-- .columns -->
</div>
