<div id="preface"></div>

<div id="content" class="tabbed columns">
    <div class="top-rounder"></div>
    <div class="columns">
        <div class="column side">
            <%= render :partial => "partials/why_links"%>
        </div><!-- .column.side -->
        <div class="column wide">
            <h4>Algorithms=Higher Margins</h4>
            <p>You want incremental sales at higher margins.  Our algorithms have been developed with over 2.5 years of social data.  They have been tested and validated on actual sales data from consumers. The result is your campaigns and dynamic pricing programs will get the highest possible margins.</p>
            
            <h4>Complete Dynamic Pricing Platform</h4>
            <p>Your consumers want different types of dynamic pricing promotions. Sometimes they want to say their price.  Other times they want to link the prices to popularity of the products.  Depending on how they feel, they may want to refer a great deal to their friend, or keep it for themselves if there are limited quantities offered.</p>
            
            <h4>0-8 Hours of IT Work</h4>
            <p>You are busy and you have scarce IT resources.  Not to worry, we deliver our software and data services as a web platform.  That means you can go live to the market with 0-8 hours of IT work.  Also, you can put data into the system or take it out with ease and simplicity.</p>
            
            <h4>Twitter Purchase Intent</h4>
            <p>All this data on Twitter and what do you do about it?  That's where Dealkat can help.  We mine the data and segment the Twitter universe into people most likely to buy.  We can do this on a product, category or overall level.  You can also get the data sliced, and diced based on location.  With this data you can adjust your marketing campaigns, or close the loop by combining Twitter users with your email database.</p>
            
            <h4>Turn Social Into a Revenue Channel</h4>
            <p>Whether it's simple Twitter or Facebook integration, or a full-blown Facebook app, or seamless integration with Twitter we can help.  We have created many products using the API's of the platform.  Our dynamic platform products integrate fully to Facebook and Twitter.</p>
            
            <h4>No 3rd party Commissions</h4>
            <p>You want higher profits.  3rd party commissions eat into your profits.  With our software and data platform there are no 3rd party commissions.  Therefore, you keep the profits from any incremental sales the programs generate.  This allows Dealkat to remain objective about the price and not be influenced by making of sales commissions.</p>
        </div><!-- .column.wide -->
        <br class="clearer">
    </div><!-- .columns -->
    <div class="bottom-rounder"></div>
</div><!-- #content -->
