<p>Hey,</p>
<p>Here are the details:</p>
<p>
	Email= <%= @contact.email %><br />
	Company= <%= @contact.company %><br />
	Phone= <%= @contact.phone %><br />
</p>
<p>&nbsp;</p>
<p>
	Regards,<br />
	Dealkat
</p>
